#intuit_logo {
  height: 60px;
  width: auto;
  margin-top: 5em;
}

#logo {
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

.wrap-logo-link {
  text-align: center;
}

.logo-link {
  display: inline-flex;
}
