body{
  background-color: #eceef1;
}

#intuit_logo {
  height: 60px;
  width: auto;
  margin-top: 5em;
}

#logo {
  height: 30px;
  width: 30px;
  margin-left: 1em;
}

.wrap-logo-link {
  text-align: center;
}

.logo-link {
  display: inline-flex;
}

.bg-white{
  background-color: white;
  padding: 2em;
  margin: 0 5em;
}
.center{
  text-align: center;
}
input[name="submit"]{
  display: block;
}
footer{
  text-align: center;
}

footer li{
  list-style: none;
  display: inline;
  margin: 0 1em;
}